<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/gatekeeper/dashboard">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pre-registration" href="/gatekeeper/pre-registration">
      <ion-icon aria-hidden="true" name="apps-outline"></ion-icon>
      <ion-label>Registration</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="check-in-out" href="/gatekeeper/check_in_out">
      <ion-icon aria-hidden="true" name="checkmark-circle-outline"></ion-icon>
      <ion-label>CheckIn</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="check-out" href="/gatekeeper/check_out">
      <ion-icon aria-hidden="true" name="close-circle-outline"></ion-icon>
      <ion-label>CheckOut</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="qrcode" href="/gatekeeper/qrcode">
      <ion-icon aria-hidden="true" name="qr-code-outline"></ion-icon>
      <ion-label>QRCode</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
