<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registration</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <div>
    <ion-row>
      <ion-col>
        <ion-button href="/gatekeeper/registration/pre-registration/">Pre Refistration</ion-button>
      </ion-col>
      <ion-col>
        <ion-button href="/gatekeeper/registration/register-checkin/">Register & Checkin</ion-button> 
      </ion-col>
    </ion-row> -->
  <!-- </div> -->
  <ion-row size="200px" style="display: flex; width: 100%; align-items: center; justify-content: center; margin-top: 50px;">
    <ion-avatar style="width: 100px; height: 100px;">
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
  </ion-row>
<ion-card>
  <ion-card-content style="padding: 0px;">
    <div style="width: 100%; height: 100px; background: #3880ff; position: relative; ">
      <p style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); margin: 0; color: white; font-size: 16px; font-weight: bold;">Pass</p>

      <ion-avatar style="width: 100px; height: 100px; position: absolute; bottom: -50px; left: 50%; transform: translateX(-50%);">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </div>
    <ion-row
      style="display: flex; width: 100%; justify-content: space-between; align-items: center; margin-top: 50px; padding: 0px 10px;">
      <ion-col> Name </ion-col>
      <ion-col> Meghlaya Vraj </ion-col>
    </ion-row>
    <ion-row style="display: flex; width: 100%; justify-content: space-between; align-items: center; padding: 0px 10px;">
      <ion-col> Email </ion-col>
      <ion-col> meghlayayahoo.com </ion-col>
    </ion-row>
    <ion-row style="display: flex; width: 100%; justify-content: space-between; align-items: center; padding: 0px 10px;">
      <ion-col> Mobile </ion-col>
      <ion-col> meghlayayahoo.com </ion-col>
    </ion-row>
    <ion-row style="display: flex; width: 100%; justify-content: space-between; align-items: center; padding: 0px 10px;">
      <ion-col> Whom To Meet </ion-col>
      <ion-col> meghlayayahoo.com </ion-col>
    </ion-row>
    <ion-row style="display: flex; width: 100%; justify-content: center;">
      <ion-img style="width: 150px; height: 150px;" src="../../assets/qrcodes.jpeg" alt="School Image"> </ion-img>
    </ion-row>
    
    <div style="padding: 10px; margin-bottom: 10px;">
      <ion-button class="button-bottom" expand="block">Check In</ion-button>
    </div>
    </ion-card-content>
    </ion-card>


</ion-content>